
#home{
    background: url('https://lh3.googleusercontent.com/-IzW_GQEdhP8/VM5hZTGvXII/AAAAAAAABto/3yM6sf7_vhA/s1600/free-download-1600x900-resolution-of-high-quality-background-cool.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}
#about{
    background-color: black;
    
}
.text1{
    color: rgb(255, 255, 255);
    margin-top: 12rem;
    font-size: 60px !important;
    
}
.text2{
    color: rgb(255, 255, 255);
    padding-top: 40px;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 15rem !important;
}
.text3{
    color: rgb(250, 250, 250);
    padding-top: 100px;
}
.text4{
    color: rgb(156,156, 156);
    padding-top: 40px;
    
}
#projects{
    background-color: black;
    
}
.text5{
    margin-top: 8rem;
    color: rgb(250, 250, 250);
    
    
}
img{
    margin-top: 40px;
    border-radius: 40px !important;
    
}
#contact{
    background-color: black;
}
.text7{
    color: white;
    text-align: start;
}
.btn{
    color: rgb(255, 255, 255);
    margin-left: 40px;
    margin-right: 20px;
}
.text8{
    color: black;
}
.highlight{
    color: rgb(165, 67, 45);
}
.email{
    margin-top: 2rem;
}
